<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>work</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2d1c64d606.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header class="cap"> <!--шапка страницы-->
                <div class="conteiner">
                    <div class="cap_row">
                        
                        <div class="cap_preview"> <!--превью станицы-->
                            <img class="cap_icon" src="https://i.postimg.cc/g2CKCxpP/main-Vector.png">
                            Grid
                        </div>

                        <div class="cap_mainInformation"> <!--Быстрая информация о странице-->
                            <div class="cap_doptext cap_doptext_black">How it works</div>
                            <div class="point">.</div>
                            <div class="cap_doptext">Who we are </div>
                            <div class="point">.</div>
                            <div class="cap_doptext">Whate we do</div>
                            <div class="point">.</div>
                            <div class="cap_doptext">Contact us</div>
                        </div>

                        <input type="button" class="cap_button" value="Sign in" id="button-open-Login"> <!--Кнопка регестрации/логина-->
                    </div>
                </div>

            </header>

            <div class="main"> <!--Основная информация страницы-->
                <div class="conteiner">
                    <div class="text_in_main"> <!--Заголовок страницы-->
                        <div class="main_text">Combine <span class ="main_redText">fine</span> images</div>
                        
                        <div class="main_dop_text">To represent a product</div>
                    </div>

                    <div class="main_information"> <!--информация изображениями на странице, завлекающий контент-->
                        <p class="main_text_small">
                            Use mixed grid with imagery, replace with your own photos and descriptions
                        </p>
                        <img class=" img main_img1" src="https://i.ibb.co/DLwPV1P/image1.png">
                        <input type="button" class="main_button1" value="Learn more">  
                        <img class="img main_img2" src="https://i.postimg.cc/bwbxH6jx/Image2.png"> <br>
                        <img class="img main_img3" src="https://i.postimg.cc/g0mZymsp/Image3.png">
                   
                        <p class=" main_text_small2">
                            This is multipurpose grid, it fits for portfolio, services or agency web site
                        </p>
                        <img class="img main_img4" src="https://i.postimg.cc/GmDsW-zzX/Image4.png">
                        <img class="img main_img5" src="https://i.postimg.cc/fLyWNRDM/Image6.png">
                    
                        <img class="img main_img6" src="https://i.postimg.cc/g2rPjB1K/Image5.png">
                        <img class="img main_img7" src="https://i.postimg.cc/tCMMSRmh/Image7.png">
                    
                    </div>

                </div>
    
            </div>

            <div class="contacts"> <!--Контакнтные данные-->
                <div class="conteiner">
                    <div class="contacts_text">
                        <h1 class="contacts_heading"> <!-- Краткая история -->
                            Delivering good designs since 1954 🚚💨
                        </h1>
                        <p class="contacts_paragraph">
                            We’re the first multi-purpose design kit solutions for businesses. We help you bridge gaps between your layouts, templates and developers to empower all involved.
                        </p>
                    </div>

                    <div class="contacts_information"> <!--Плюсы данного проекта-->
                        <div class="contacts_list contacts_list_support">
                            <div class="list_circle list1_circle"><img class="list1_icon" src="https://i.postimg.cc/t4JVVG5C/phone.png"></div>
                            
                            <div class="contacts_list_close_wrapper"><i class="fas fa-times contacts_list_close"></i></div>
                            <h1 class="list_heading">Support</h1>
                            <p class="list_paragraph">Delivering faster and more personalized support with shared screens and cool design systems for Figma</p>
                            <div class="hidden_text" id="hidden_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.</div>
                            
                            <input type="button" class="list_button" value="Learn more" id="contacts_list_bottun1">
                        </div>   

                        <div class="contacts_list contacts_list_SalesGrowth">
                            <div class="list_circle list2_circle"><img class="list1_icon" src="https://i.ibb.co/j6jLdHt/kryg.png"></div>
                            <h1 class="list_heading">Sales growth</h1>
                            <p class="list_paragraph">Identify qualified customers with easy-to-use live chat messaging and AI-based Sales Bot</p>
                            <div class="hidden_text" id="hidden_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.</div>

                            <input type="button" class="list_button" value="Learn more" id="contacts_list_bottun2">
                        </div>
                        
                        <div class="contacts_list contacts_list_CoponentsDriven">
                            <div class="list_circle list3_circle"><img class="list1_icon" src="https://i.ibb.co/dQLJfVZ/lightning.png"></div>
                            <h1 class="list_heading">Coponents-driven</h1>
                            <p class="list_paragraph">Delivering faster and more personalized support with shared screens and cool design systems for Figma</p>
                            <div class="hidden_text" id="hidden_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.</div>

                            <input type="button" class="list_button" value="Learn more" id="contacts_list_bottun3">
                        </div>  

                        <div class="contacts_list contacts_list_SwapTheIcon">
                            <div class="list_circle list4_circle"><img class="list1_icon" src="https://i.postimg.cc/t4JVVG5C/phone.png"></div>
                            <h1 class="list_heading">Swap the icon</h1>
                            <p class="list_paragraph">You can toggle to any icon within Instances and customize outlined stroke to more bolder or lighter</p>
                            <div class="hidden_text" id="hidden_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos amet corrupti quos ratione laudantium. Cupiditate excepturi vitae omnis ipsam incidunt laboriosam velit est officiis. Quia possimus voluptates adipisci ipsam.</div>

                            <input type="button" class="list_button" value="Learn more" id="contacts_list_bottun4">
                        </div>  

                    </div>


                </div>
            </div>
            
            <div class="price"> <!--прайс предложения-->
                <div class="conteiner">

                    <div class="price_text">
                        <div class="price_mainText">
                            Affordable pricing
                        </div>
                        <div class="price_dopText">
                            Bill me <span class="price_purple_text">monthly</span> • yearly <!--сделать бекграунд-->
                        </div>
                    </div>
                    

                    <div class="price_propositions">

                        <div class="propositions"> <!--1-->

                            <div class="content">
                                <div class="propositions_small_purple_text">
                                    Like a pussy
                                </div>
                                <div class="propositions_big_text">
                                    Free <span class="small_text_in_big">/ Forever</span>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_grey"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Components-driven system</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_grey"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Sales-boosting landing pages</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_grey"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Awesome Feather icons pack</div>
                                </div>

                                
                            </div>

                            <input type="button" class="price_button" value="Try for free">

                        </div>

                        <div class="propositions"> <!--2-->

                            <div class="content">
                                <div class="propositions_small_purple_text">
                                    👤 Individual
                                    <div class="Individual_best">Best!</div>
                                </div>
                                <div class="propositions_big_text">
                                    $24 <span class="small_text_in_big">/ Month</span>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_yellow"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Components-driven system</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_yellow"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Sales-boosting landing pages</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_yellow"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Awesome Feather icons pack</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_yellow"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Themed into 3 different styles</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_yellow"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Will help to learn Figma</div>
                                </div>

                                
                            </div>

                            <input type="button" class="price_button" value="Regular license">

                        </div>

                        <div class="propositions"> <!--3-->

                            <div class="content">
                                <div class="propositions_small_purple_text">
                                    👥 Corporate
                                </div>
                                <div class="propositions_big_text">
                                    $12 <span class="small_text_in_big">/ Editor</span>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_blue"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Components-driven system</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_blue"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Sales-boosting landing pages</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_blue"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Awesome Feather icons pack</div>
                                </div>

                                <div class="conditions">
                                    <div class="mark mark_blue"><img class="mark_icon" src="https://i.ibb.co/6ZZQvMP/mark.png"></div>
                                    <div class="conditions_text">Themed into 3 different styles</div>
                                </div>

                                
                            </div>

                            <input type="button" class="price_button" value="Extended license">

                        </div>
                    </div>
                </div>
            </div>

            <div class="registration_form" id="registration_form"><!--Форма регстрации Log in-->
                <form>
                    <div class="registration_form-wrapper">
                        <i class="fas fa-times registration_form_close" id="registration_form_close"></i>
                        <div class="registration_form_text">
                            Login to your account<span class="red_exclamation">!</span>
                        </div>
                        <input type="text" placeholder="Username" class="registration_form_input" id="username">
                        <input type="password" placeholder="Password" class="registration_form_input" id="password">
                        <input type="submit" value="Log in" class="registration_form_button" id="Login_button">
                        <input type="submit" class="registration_field" id="registration_field_open" value="Sign up"></input>
                    </div>
                </form>
            </div>

            <!--
            <div class="sign_up" id="sign_up">
                <form action="/register" method="POST" class="form_login">
                    <div class="sign_up-wrapper">
                        <i class="fas fa-times sign_up_form_close" id="sign_up_form_close"></i>
                        <div class="sign_up_form_text">
                            Create a new accaunt<span class="red_exclamation">!</span>
                        </div>
                        <input type="text" placeholder="Username" class="sign_up_form_input" id="sign_up_username" name="username">
                        <input type="password" placeholder="Password" class="sign_up_form_input" id="sign_up_password" name="password">
                        <input type="password" placeholder="Confirm your password" class="sign_up_form_input" id="sign_up_confirm_password" nmae="confirm_password">
                        <input type="submit" value="Sign Up" class="sign_up_form_button" id="signUp_button">
                        <input type="submit" class="sign_up_field" id="sign_up_field_open" value="Log In"></input>
                    </div>
                </form>
            </div>
            -->

        </div>

        <footer class="footer">
            <div class="conteiner">
                <div class="footer_information">

                    <div class="i1">
                        Copyright © 2018 • Your Company
                        All rights reserved
                    </div>

                    <div class="i2">
                        Made in Setproduct.com
                        One man digital agency
                    </div>

                </div>

                <div class="footer_contact">
                    <div class="c1">
                        hello@setproduct.com
                    </div>

                    <div class="c2">
                        <img class="c2_img" src="https://i.ibb.co/ZNCDYzj/facebook.png" alt="">
                        <img class="c2_img" src="https://i.ibb.co/VDh5gcx/in.png" alt="">
                        <img class="c2_img" src="https://i.ibb.co/SvHFcMj/hz-chto-eto.png" alt="">
                        <img class="c2_img" src="https://i.ibb.co/GQW364S/Twitter.png" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>